.block1{
 height:300px;
 width:200vh;
 background-color:#4D3083;
 position:absolute;
}
.text1{
position:relative;
margin-left:30px;
margin-top:50px;
color:white;
}
.img1{
margin-top:-3vh;
margin-left:150vh;
}
.img2{
margin-top:3vh;
margin-left:-170vh;
position:absolute;
}
.text2{
color:white;
margin-top:-6vh;
margin-left:13vh;
position:absolute;
}
.text3{
color:white;
margin-top:-3vh;
margin-left:13vh;
position:absolute;
}
.img3{
margin-top:3vh;
margin-left:-170vh;
}
.img4{
margin-top:11vh;
margin-left:-2vh;
position:absolute;
}
.text4{
color:white;
margin-left:13vh;
margin-top:8px;
}
.block2{
background-color:#F9F3EE;
height:50vh;
width:200vh;
position:absolute;
margin-top:46vh;
}
.flexboximg{
margin-top:8vh;
height:20vh;
width:30vh;
}
.text5{
margin-top:-23vh;
margin-left:40vh;
position:absolute;
}
.text6{
height:100px;
width:500px;
margin-left:260px;
margin-top:-150px;
}
.block3{
height:450px;
width:200vh;
margin-top:15vh;
background-color:#E9E6D0;
}
.s1{
margin-top:5vh;
margin-left:10vh;
height:100px;
width:100px;
position:absolute;
}
.s2{
margin-top:17vh;
margin-left:10vh;
height:100px;
width:100px;
position:absolute;
}
.text7{
margin-top:12vh;
margin-left:30vh;
}
.text8{
margin-left:30vh;
}
.text9{
margin-top:20vh;
margin-left:30vh;
}
.text10{
margin-top:7vh;
margin-left:30vh;
}
.text11{
margin-top:-59vh;
margin-left:120vh;
position:absolute;
}
.text12{
margin-top:-50vh;
margin-left:120vh;
position:absolute;
}
.s3{
margin-left:100vh;
margin-top:-60vh;
position:absolute;
}
.s4{
margin-left:100vh;
margin-top:-25vh;
}
.text13{
margin-left:130vh;
margin-top:-25vh;
}
.text14{
margin-left:130vh;
margin-top:-5vh;
}
.flexbox2{
background-color:#C8C6BA;
height:500px;
width:1300px;
margin-top:20vh;
}
.flexboxblock1{
background-color:#28285A;
height:300px;
width:200px;
margin-top:15vh;
margin-left:15vh;
position:absolute;
}
.flexboxblock2{
background-color:#28285A;
height:300px;
width:200px;
margin-top:-45vh;
margin-left:50vh;
position:absolute;
}

.flexboxblock3{
background-color:#28285A;
height:300px;
width:200px;
margin-top:-45vh;
margin-left:100vh;
position:absolute;
}
.flbb11{
height:50vh;
width:50vh;
}
